.head{
    max-width:1200px;
    height:400px;
    margin:auto;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    background-color: #1F2937;
    
    
}

.head-1{
    display:flex;
    justify-content:space-between;
}

.head-2{
    display:flex;
    margin-top:75px;
    justify-content:space-between;
}

.item{
    box-sizing:border-box;
}

.logo{
    margin-left:150px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 248px;
    color: #e5e7eb;
    font-size:18px;
    margin-right:150px;
}

.desc{
    display: flex;
    flex-direction:column;
    box-sizing:border-box;
    margin-left:150px;
}

.head-image{
    margin-right:150px;
}

.main{
    font-size:48px;
    font-weight:900;
    color: #f9faf8;
    font-family: sans-serif;
}

.sub{
    color: #e5e7eb;
    font-size:18px;
    font-family:sans-serif;
}

.shuffle{
    box-sizing:border-box;
    background-color: #3882f6;
    margin-right: auto;
    margin-top:5px;
    text-align:center;
    padding:5px;
    border-radius:10px;
}
